<%= form_with(model: death, local: true) do |form| %>
  <% if death.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(death.errors.count, "error") %> prohibited this death from being saved:</h2>

      <ul>
      <% death.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :death_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
