<div class="container">
    <div id="user_score" class="row justify-content-center score ">
        <div class="col-sm">
          <p id="trophy">Troféus: <%= @user.trophies.count %> </p>
        </div>
        <div class="col-sm">
           <p>Monstros mortos: <%= @user.killed_monsters.count %></p> 
        </div>
        <div class="col-sm">
           <p id="collected_coins">Moedas Coletadas:
                <%= render partial: 'collected_coins/user_collected_coins', locals: {user: @user} %></p> 
        </div>
        <div class="col-sm">
            <p>Mortes: <%= @user.deaths.count %></p>
        </div>
    </div>
    <div class= "actions">
        <div class="row justify-content-center">
            <%= button_to 'Coletar Moedas', {controller: 'collected_coins',
                    action: 'create',  collected_coin: {user_id: @user.id, value: 10}},remote: true  %>   
        </div>
        <div class="row justify-content-center">
            <button>Matar Turtle</button>
        </div>
        <div class="row justify-content-center">
            <button>Matar Bowser</button>
        </div>
        <div class="row justify-content-center">
                <div class="row ">
            <button> Droga! Fui atingido</button>
        </div>
    </div>
    
</div>