<div class="container">

    <!-- score board -->
    <div id="user_score" class="row justify-content-center score ">
        <div class="col-sm">
          <p id="trophies">Troféus:
                <%= render partial: 'trophies/user_trophies' %> </p>
        </div>
        <div class="col-sm">
           <p id="killed_monsters">Monstros mortos: <%= @user.killed_monsters.count %></p> 
        </div>
        <div class="col-sm">
           <p id="collected_coins">Moedas Coletadas:
                <%= render partial: 'collected_coins/user_collected_coins' %></p> 
        </div>
        <div class="col-sm">
            <p id="deaths">Mortes: <%= @user.deaths.count %></p>
        </div>
    </div>

    <!-- actions buttons  -->
    <div class= "actions">
        <div class="row justify-content-center">
            <%= button_to 'Coletar Moedas', {controller: 'collected_coins', action: 'create',
                collected_coin: {user_id: @user.id, value: 10}}, remote: true
            %>   
        </div>
        <div class="row justify-content-center">
            <%= button_to 'Matar Turtle', {controller: 'killed_monsters', action: 'create',
                killed_monster: {user_id: @user.id, monster_name: 'Turtle'}}, remote: true
             %>
        </div>
        <div class="row justify-content-center">
            <%= button_to 'Matar Bowser', {controller: 'killed_monsters', action: 'create',
                killed_monster: {user_id: @user.id, monster_name: 'Bowser'}}, remote: true
             %>
        </div>
        <div class="row justify-content-center">
            <%= button_to 'Droga! Fui atingido', {controller: 'deaths', action: 'create',
                death: {user_id: @user.id}}, remote: true
             %>
        </div>
    </div>
    
</div>