<%= form_with(model: killed_monster, local: true) do |form| %>
  <% if killed_monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(killed_monster.errors.count, "error") %> prohibited this killed_monster from being saved:</h2>

      <ul>
      <% killed_monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :killed_monster_user_id %>
  </div>

  <div class="field">
    <%= form.label :monster_id %>
    <%= form.text_field :monster_id, id: :killed_monster_monster_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
