<p id="notice"><%= notice %></p>

<h1>Collected Coins</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collected_coins.each do |collected_coin| %>
      <tr>
        <td><%= link_to 'Show', collected_coin %></td>
        <td><%= link_to 'Edit', edit_collected_coin_path(collected_coin) %></td>
        <td><%= link_to 'Destroy', collected_coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collected Coin', new_collected_coin_path %>
